*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
/target/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Macosx Noise #
.DS_Store
profile

# Logs or Test Tools Files
test-output/
logs/

# Eclipse noise
.classpath
.project
.settings
.settings/*

# IntelliJ Idea noise
.idea
*.iws
*.ipr
*.iml
*.releaseBackup
atlassian-ide-plugin.xml

# NB noise
nbactions.xml
nb-configuration.xml

# Maven plugins noise #
dependency-reduced-pom.xml
pom.xml.versionsBackup